<div class="bg-white p-4 rounded-lg border border-black-700">
  <div class="flex justify-between text-lg">
    <div class="text-black">
      <i class="fa-solid fa-star" style="color: #ffc400;"></i> 5.0
      <p class="text-sm">Rating & Ulasan</p>
    </div>
    <div class="text-black">
      <p class="text-lg">± 3 jam</p>
      <p class="text-sm">Pesanan diproses</p>
    </div>
    <div class="text-black">
      <p class="text-lg">Buka 24 jam</p>
      <p class="text-sm">Jam operasi toko</p>
    </div>
  </div>
</div>
